header {
    background-color: lightgray;
    height: 150px;
}

main {
    padding: 50 px;
    height: 200px;
    margin: 50px;
}

footer {
    background-color: lightgray;
    height: 150px;
}

.res_mes {
    color: red;
}

.users_1 {
    display: flex;
}

.users_1 div {
    width: 33%;
    border: 1 px solid;
    ;
}