header {
    background-color: lightgray;
    height: 150px;
}

main {
    padding: 50 px;
    height: 200px;
    margin: 50px;
}

footer {
    background-color: lightgray;
    height: 150px;
}

.res_mes {
    color: red;
}

.photos_1 {
    margin-top: 30px;
}

.photos_1 .item {
    display: inline-block;
}

.photos_1 .item img {
    display: block;
    border: 1px solid;
    width: 300px;
}